In [1]:
import numpy as np
import scipy as scp
import pylab as pyl
import pandas as pd
import bokeh as bk
import bokeh.plotting as bkp

import pandas_bokeh
#pandas_bokeh.output_notebook()

BokehDeprecationWarning: 'tile_providers module' was deprecated in Bokeh 3.0.0 and will be removed, use 'add_tile directly' instead.

# Scenario de Charles et Marion

In [2]:
#Definition des scenarios (Negawatt, ADEME, RTE)
ADEME2050_marion = pd.read_csv("demand2050_ADEME.csv", header=None)
ADEME2050_marion.columns = ["heures", "demande"]

RTE = pd.read_csv("demand2050_RTE.csv", header=None)
RTE.columns = ["heures", "demande"]

Negawatt = pd.read_csv("demand2050_negawatt.csv", header=None)
Negawatt.columns = ["heures", "demande"]

T1 = pd.read_csv("T1.csv", header=None, sep=';', decimal=',')
T1.columns = ["heures", "d2025", "d2026", "d2027" ,"d2028", "d2029"]

T2 = pd.read_csv("T2.csv", header=None, sep=';', decimal=',')
T2.columns = ["heures", "d2030", "d2031", "d2032" ,"d2033", "d2034"]

T3 = pd.read_csv("T3.csv", header=None, sep=';', decimal=',')
T3.columns = ["heures", "d2035", "d2036", "d2037" ,"d2038", "d2039"]

T4 = pd.read_csv("T4.csv", header=None, sep=';', decimal=',')
T4.columns = ["heures", "d2040", "d2041", "d2042" ,"d2043", "d2044"]

T5 = pd.read_csv("T5.csv", header=None, sep=';', decimal=',')
T5.columns = ["heures", "d2045", "d2046", "d2047" ,"d2048", "d2049"]

Scenario= {"RTE" : RTE.demande,"ADEME" : ADEME2050_marion.demande, "Negawatt": Negawatt.demande,
          "T1_1":T1.d2025, "T1_2":T1.d2026, "T1_3":T1.d2027, "T1_4":T1.d2028, "T1_5":T1.d2029,
          "T2_1":T2.d2030, "T2_2":T2.d2031, "T2_3":T2.d2032, "T2_4":T2.d2033, "T2_5":T2.d2034,
          "T3_1":T3.d2035, "T3_2":T3.d2036, "T3_3":T3.d2037, "T3_4":T3.d2038, "T3_5":T3.d2039,
          "T4_1":T4.d2040, "T4_2":T4.d2041, "T4_3":T4.d2042, "T4_4":T4.d2043, "T4_5":T4.d2044,
          "T5_1":T5.d2045, "T5_2":T5.d2046, "T5_3":T5.d2047, "T5_4":T5.d2048, "T5_5":T5.d2049}

## Tentative de chronique horaire 2025->2050

In [3]:
T=T1
for other in [T2, T3, T4, T5]:
    T = T.join(other.set_index("heures"),on="heures")
T = pd.DataFrame(T)
T.head()
T.describe()

,heures,d2025,d2026,d2027,d2028,d2029,d2030,d2031,d2032,d2033,...,d2040,d2041,d2042,d2043,d2044,d2045,d2046,d2047,d2048,d2049
count,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,...,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000
mean,4379.500000,72.300988,71.942086,71.584965,71.229618,70.876034,70.524205,70.174123,69.825779,69.479164,...,67.100559,66.767472,66.436038,66.106249,65.778098,65.451576,65.126674,64.803385,64.481701,64.161614
std,2528.938512,28.867072,28.723776,28.581191,28.439314,28.298142,28.157670,28.017895,27.878814,27.740424,...,26.790736,26.657747,26.525418,26.393746,26.262727,26.132359,26.002638,25.873561,25.745124,25.617326
min,0.000000,33.141571,32.977056,32.813358,32.650473,32.488396,32.327123,32.166652,32.006976,31.848094,...,30.757781,30.605099,30.453175,30.302006,30.151587,30.001914,29.852985,29.704795,29.557340,29.410617
25%,2189.750000,51.744297,51.487439,51.231855,50.977540,50.724487,50.472691,50.222145,49.972842,49.724777,...,48.022459,47.784076,47.546876,47.310853,47.076002,46.842317,46.609791,46.378420,46.148198,45.919118
50%,4379.500000,62.195897,61.887157,61.579949,61.274266,60.970100,60.667445,60.366292,60.066633,59.768463,...,57.722302,57.435768,57.150657,56.866961,56.584674,56.303787,56.024295,55.746191,55.469467,55.194116
75%,6569.250000,84.623461,84.203390,83.785405,83.369494,82.955648,82.543856,82.134108,81.726394,81.320705,...,78.536707,78.146851,77.758930,77.372935,76.988855,76.606683,76.226407,75.848019,75.471510,75.096869
max,8759.000000,197.246551,196.267419,195.293148,194.323713,193.359090,192.399255,191.444185,190.493856,189.548245,...,183.059100,182.150395,181.246200,180.346494,179.451254,178.560458,177.674084,176.792110,175.914514,175.041274

In [4]:
def multi_plot_df(T, palette=bk.palettes.Category10_10):
    couleurs = iter(palette)
    source = bk.models.ColumnDataSource(T)
    fig = bkp.figure()
    for column in T.columns:
#        if (column[0] == "d") or (column[0] == "e"):
        if column != "heures":
            fig.line(x="heures" , y=column, line_color= next(couleurs), legend_label=column, source=source )
    bkp.show(fig)
multi_plot_df(T, palette=bk.palettes.Viridis256)

# Recalcul des marions et ADEME_S1 à ADEME_S4
Interpolation linéaire des scénaries de 2025 à 2050 par pas de 5 ans

In [5]:
def cumul_plot(T, cols, palette=bk.palettes.Category10_10):
    couleurs = iter(palette)
    source = bk.models.ColumnDataSource(T)
    fig = bkp.figure()
    fig.varea_stack(stackers=cols, x="heures", color=[next(couleurs) for col in cols], legend_label=cols, source=source )
    bkp.show(fig)

In [6]:
import openpyxl
ADEME2050 = pd.read_excel("Transitions 2050 - Chroniques horaires de la consommation d’électricité.xlsx")
ADEME2050.drop(columns=["Horodatage"], inplace=True)
ADEME2050.insert(loc=0, column="heures", 
                 value=T1["heures"].tolist() * len(ADEME2050["Scénario"].unique()))
ADEME2050.groupby("Scénario").head()

,heures,Scénario,Demande directe non pilotable,Demande directe pilotable,Demande pour électrolyse
0,0,S1,20.014659,9.595461,20.163689
1,1,S1,20.429866,5.969498,23.293989
2,2,S1,20.323323,7.784238,21.686296
3,3,S1,21.368149,8.658542,20.119695
4,4,S1,20.326949,11.690069,20.118905
8760,0,S2,23.128866,11.582426,36.651613
8761,1,S2,23.670036,7.536459,37.906882
8762,2,S2,23.597008,7.284992,37.793843
8763,3,S2,24.936995,8.687520,36.678802
8764,4,S2,23.678977,13.216895,36.348099
17520,0,S3Enr,30.973319,21.207005,18.186488
17521,1,S3Enr,31.692830,21.270598,18.186488
17522,2,S3Enr,31.714862,20.707185,18.186488
17523,3,S3Enr,33.581834,18.385908,18.186488
17524,4,S3Enr,31.997536,21.302790,18.186488
26280,0,S3Nuke,30.973319,19.871414,16.396501
26281,1,S3Nuke,31.692830,17.270155,18.035505
26282,2,S3Nuke,31.714862,17.341012,17.977060
26283,3,S3Nuke,33.581834,16.254809,17.272707
26284,4,S3Nuke,31.997536,19.458840,16.848922
35040,0,S4,48.941175,16.807314,8.013217
35041,1,S4,50.132385,17.513871,8.013217
35042,2,S4,49.957064,16.572368,8.013217
35043,3,S4,52.825933,14.411172,8.013217
35044,4,S4,50.184766,17.691268,8.013217

In [7]:
for nom, group in ADEME2050.groupby("Scénario"):
    print(nom)
    group.drop(columns=["Scénario"], inplace=True)
    cumul_plot(group, cols=group.columns.tolist()[1:])

S1
S2
S3Enr
S3Nuke
S4

In [8]:
ADEME2050.insert(loc=4, column='d2050', value=ADEME2050.iloc[:,[2, 3]].sum(axis=1))
ADEME2050.rename({ADEME2050.columns[5]: "e2050"}, axis=1, inplace=True)

In [9]:
print(ADEME2050.head())
for nom, groupe in ADEME2050.groupby("Scénario"):
    cumul_plot(groupe, cols=["d2050", "e2050"])

   heures Scénario  Demande directe non pilotable  Demande directe pilotable  \
0       0       S1                      20.014659                   9.595461
1       1       S1                      20.429866                   5.969498
2       2       S1                      20.323323                   7.784238
3       3       S1                      21.368149                   8.658542
4       4       S1                      20.326949                  11.690069

       d2050      e2050
0  29.610119  20.163689
1  26.399364  23.293989
2  28.107561  21.686296
3  30.026691  20.119695
4  32.017018  20.118905

## Recalcul des mariions ADEME RTE Negawatt

In [10]:
chemins_deploiement = "../flaskapp/mix_data/"
for nom in ["ADEME", "RTE", "NEGAWATT"]:
    fich = nom+"_25-50.csv"
    df = pd.read_csv(fich, header=None)
    df.columns = ["heures", "d2050", "d2045", "d2040", "d2035", "d2030", "d2025"]
    df.to_csv(chemins_deploiement+fich, index=False) 
    
scenars_marion = pd.read_csv("../flaskapp/mix_data/ADEME_25-50.csv")
#scenars_marion.columns = ["heures", "d2050", "d2045", "d2040", "d2035", "d2030", "d2025"]

In [11]:
scenars_marion.head()

   heures      d2050      d2045      d2040      d2035      d2030      d2025
0       0  28.690014  29.263814  29.837615  30.411415  30.985215  31.559016
1       1  31.208458  31.832627  32.456796  33.080965  33.705134  34.329304
2       2  27.699606  28.253598  28.807590  29.361582  29.915575  30.469567
3       3  27.987488  28.547238  29.106988  29.666738  30.226487  30.786237
4       4  28.162673  28.725926  29.289180  29.852433  30.415687  30.978940

In [12]:
multi_plot_df(scenars_marion)

In [13]:
scenar2025 = scenars_marion[["heures", "d2025"]]
scenar2025.insert(loc= 2, column="e2025", value=scenar2025["d2025"] * 0.)
print("Demande en 2025")
print(scenar2025.head())
multi_plot_df(scenar2025[["heures", "d2025","e2025"]])

Demande en 2025
   heures      d2025  e2025
0       0  31.559016    0.0
1       1  34.329304    0.0
2       2  30.469567    0.0
3       3  30.786237    0.0
4       4  30.978940    0.0

In [14]:
scenars_2025_50= ADEME2050[["Scénario", "d2050","e2050"]]

scenars={}
for nom, group in scenars_2025_50.groupby("Scénario"):

    group.insert(loc=1, column="heures", value=scenar2025["heures"].tolist())
    for annee in range(2045,2020,-5):
        alpha = float(annee-2025.)/float(2050-2025)
        for dem_elec in ["e","d"]:
            liste50 = group[dem_elec+"2050"]
            liste25 = scenar2025[dem_elec+"2025"]
            group.insert(loc=2, 
                         column = dem_elec+annee.__str__(), 
                         value = [a*(1.-alpha) + b*alpha for a, b in zip(liste25, liste50)]
                        )
    scenars[nom]=group.drop(columns="Scénario")
    print(group.head()) 
    print("======================================================")

  Scénario  heures      d2025  e2025      d2030     e2030      d2035  \
0       S1       0  31.559016    0.0  31.169236  4.032738  30.779457
1       S1       1  34.329304    0.0  32.743316  4.658798  31.157328
2       S1       2  30.469567    0.0  29.997166  4.337259  29.524765
3       S1       3  30.786237    0.0  30.634328  4.023939  30.482419
4       S1       4  30.978940    0.0  31.186556  4.023781  31.394171

      e2035      d2040      e2040      d2045      e2045      d2050      e2050
0  8.065475  30.389678  12.098213  29.999899  16.130951  29.610119  20.163689
1  9.317596  29.571340  13.976393  27.985352  18.635191  26.399364  23.293989
2  8.674519  29.052363  13.011778  28.579962  17.349037  28.107561  21.686296
3  8.047878  30.330510  12.071817  30.178600  16.095756  30.026691  20.119695
4  8.047562  31.601787  12.071343  31.809402  16.095124  32.017018  20.118905
======================================================
     Scénario  heures      d2025  e2025      d2030     e2030      d2035  \
8760       S2       0  31.559016    0.0  32.189471  7.330323  32.819926
8761       S2       1  34.329304    0.0  33.704742  7.581376  33.080180
8762       S2       2  30.469567    0.0  30.552053  7.558769  30.634540
8763       S2       3  30.786237    0.0  31.353893  7.335760  31.921548
8764       S2       4  30.978940    0.0  32.162326  7.269620  33.345713

          e2035      d2040      e2040      d2045      e2045      d2050  \
8760  14.660645  33.450382  21.990968  34.080837  29.321291  34.711292
8761  15.162753  32.455619  22.744129  31.831057  30.325506  31.206496
8762  15.117537  30.717026  22.676306  30.799513  30.235075  30.881999
8763  14.671521  32.489204  22.007281  33.056859  29.343041  33.624515
8764  14.539240  34.529099  21.808859  35.712485  29.078479  36.895872

          e2050
8760  36.651613
8761  37.906882
8762  37.793843
8763  36.678802
8764  36.348099
======================================================
      Scénario  heures      d2025  e2025      d2030     e2030      d2035  \
17520    S3Enr       0  31.559016    0.0  35.683277  3.637298  39.807539
17521    S3Enr       1  34.329304    0.0  38.056128  3.637298  41.782953
17522    S3Enr       2  30.469567    0.0  34.860063  3.637298  39.250559
17523    S3Enr       3  30.786237    0.0  35.022538  3.637298  39.258839
17524    S3Enr       4  30.978940    0.0  35.443217  3.637298  39.907494

          e2035      d2040      e2040      d2045      e2045      d2050  \
17520  7.274595  43.931801  10.911893  48.056062  14.549191  52.180324
17521  7.274595  45.509778  10.911893  49.236603  14.549191  52.963427
17522  7.274595  43.641055  10.911893  48.031551  14.549191  52.422047
17523  7.274595  43.495140  10.911893  47.731441  14.549191  51.967742
17524  7.274595  44.371772  10.911893  48.836049  14.549191  53.300326

           e2050
17520  18.186488
17521  18.186488
17522  18.186488
17523  18.186488
17524  18.186488
======================================================
      Scénario  heures      d2025  e2025      d2030     e2030      d2035  \
26280   S3Nuke       0  31.559016    0.0  35.416159  3.279300  39.273303
26281   S3Nuke       1  34.329304    0.0  37.256040  3.607101  40.182776
26282   S3Nuke       2  30.469567    0.0  34.186828  3.595412  37.904090
26283   S3Nuke       3  30.786237    0.0  34.596318  3.454541  38.406400
26284   S3Nuke       4  30.978940    0.0  35.074427  3.369784  39.169914

          e2035      d2040      e2040      d2045      e2045      d2050  \
26280  6.558600  43.130446   9.837901  46.987590  13.117201  50.844734
26281  7.214202  43.109512  10.821303  46.036248  14.428404  48.962984
26282  7.190824  41.621351  10.786236  45.338613  14.381648  49.055875
26283  6.909083  42.216481  10.363624  46.026562  13.818165  49.836643
26284  6.739569  43.265401  10.109353  47.360889  13.479137  51.456376

           e2050
26280  16.396501
26281  18.035505
26282  17.977060
26283  17.272707
26284  16.848922
======================================================
      Scénario  heures      d2025  e2025      d2030     e2030      d2035  \
35040       S4       0  31.559016    0.0  38.396910  1.602643  45.234805
35041       S4       1  34.329304    0.0  40.992694  1.602643  47.656085
35042       S4       2  30.469567    0.0  37.681540  1.602643  44.893513
35043       S4       3  30.786237    0.0  38.076411  1.602643  45.366584
35044       S4       4  30.978940    0.0  38.358359  1.602643  45.737778

          e2035      d2040    e2040      d2045     e2045      d2050     e2050
35040  3.205287  52.072699  4.80793  58.910594  6.410574  65.748489  8.013217
35041  3.205287  54.319475  4.80793  60.982866  6.410574  67.646256  8.013217
35042  3.205287  52.105486  4.80793  59.317459  6.410574  66.529432  8.013217
35043  3.205287  52.656758  4.80793  59.946932  6.410574  67.237105  8.013217
35044  3.205287  53.117196  4.80793  60.496615  6.410574  67.876034  8.013217
======================================================

In [15]:
cols={}
for dem_elec in ["e","d"]:
    cols[dem_elec]=["heures"]
    for annee in range(2050,2020,-5):
        cols[dem_elec].append(dem_elec+annee.__str__())

for nom, df in scenars.items():
    print(nom+" demande")
    df.describe()
    multi_plot_df(df[cols["d"]])

S1 demande
S2 demande
S3Enr demande
S3Nuke demande
S4 demande

In [16]:
for nom, df in scenars.items():
    print(nom+" electrolyse")
    df.describe()
    multi_plot_df(df[cols["e"]])

S1 electrolyse
S2 electrolyse
S3Enr electrolyse
S3Nuke electrolyse
S4 electrolyse

In [17]:
for nom, df in scenars.items():
    fich = "../flaskapp/mix_data/"+nom+"_25-50.csv"
    print(fich)
    print(df.head())
    df.to_csv(fich, index=False)

../flaskapp/mix_data/S1_25-50.csv
   heures      d2025  e2025      d2030     e2030      d2035     e2035  \
0       0  31.559016    0.0  31.169236  4.032738  30.779457  8.065475
1       1  34.329304    0.0  32.743316  4.658798  31.157328  9.317596
2       2  30.469567    0.0  29.997166  4.337259  29.524765  8.674519
3       3  30.786237    0.0  30.634328  4.023939  30.482419  8.047878
4       4  30.978940    0.0  31.186556  4.023781  31.394171  8.047562

       d2040      e2040      d2045      e2045      d2050      e2050
0  30.389678  12.098213  29.999899  16.130951  29.610119  20.163689
1  29.571340  13.976393  27.985352  18.635191  26.399364  23.293989
2  29.052363  13.011778  28.579962  17.349037  28.107561  21.686296
3  30.330510  12.071817  30.178600  16.095756  30.026691  20.119695
4  31.601787  12.071343  31.809402  16.095124  32.017018  20.118905
../flaskapp/mix_data/S2_25-50.csv
      heures      d2025  e2025      d2030     e2030      d2035      e2035  \
8760       0  31.559016    0.0  32.189471  7.330323  32.819926  14.660645
8761       1  34.329304    0.0  33.704742  7.581376  33.080180  15.162753
8762       2  30.469567    0.0  30.552053  7.558769  30.634540  15.117537
8763       3  30.786237    0.0  31.353893  7.335760  31.921548  14.671521
8764       4  30.978940    0.0  32.162326  7.269620  33.345713  14.539240

          d2040      e2040      d2045      e2045      d2050      e2050
8760  33.450382  21.990968  34.080837  29.321291  34.711292  36.651613
8761  32.455619  22.744129  31.831057  30.325506  31.206496  37.906882
8762  30.717026  22.676306  30.799513  30.235075  30.881999  37.793843
8763  32.489204  22.007281  33.056859  29.343041  33.624515  36.678802
8764  34.529099  21.808859  35.712485  29.078479  36.895872  36.348099
../flaskapp/mix_data/S3Enr_25-50.csv
       heures      d2025  e2025      d2030     e2030      d2035     e2035  \
17520       0  31.559016    0.0  35.683277  3.637298  39.807539  7.274595
17521       1  34.329304    0.0  38.056128  3.637298  41.782953  7.274595
17522       2  30.469567    0.0  34.860063  3.637298  39.250559  7.274595
17523       3  30.786237    0.0  35.022538  3.637298  39.258839  7.274595
17524       4  30.978940    0.0  35.443217  3.637298  39.907494  7.274595

           d2040      e2040      d2045      e2045      d2050      e2050
17520  43.931801  10.911893  48.056062  14.549191  52.180324  18.186488
17521  45.509778  10.911893  49.236603  14.549191  52.963427  18.186488
17522  43.641055  10.911893  48.031551  14.549191  52.422047  18.186488
17523  43.495140  10.911893  47.731441  14.549191  51.967742  18.186488
17524  44.371772  10.911893  48.836049  14.549191  53.300326  18.186488
../flaskapp/mix_data/S3Nuke_25-50.csv
       heures      d2025  e2025      d2030     e2030      d2035     e2035  \
26280       0  31.559016    0.0  35.416159  3.279300  39.273303  6.558600
26281       1  34.329304    0.0  37.256040  3.607101  40.182776  7.214202
26282       2  30.469567    0.0  34.186828  3.595412  37.904090  7.190824
26283       3  30.786237    0.0  34.596318  3.454541  38.406400  6.909083
26284       4  30.978940    0.0  35.074427  3.369784  39.169914  6.739569

           d2040      e2040      d2045      e2045      d2050      e2050
26280  43.130446   9.837901  46.987590  13.117201  50.844734  16.396501
26281  43.109512  10.821303  46.036248  14.428404  48.962984  18.035505
26282  41.621351  10.786236  45.338613  14.381648  49.055875  17.977060
26283  42.216481  10.363624  46.026562  13.818165  49.836643  17.272707
26284  43.265401  10.109353  47.360889  13.479137  51.456376  16.848922
../flaskapp/mix_data/S4_25-50.csv
       heures      d2025  e2025      d2030     e2030      d2035     e2035  \
35040       0  31.559016    0.0  38.396910  1.602643  45.234805  3.205287
35041       1  34.329304    0.0  40.992694  1.602643  47.656085  3.205287
35042       2  30.469567    0.0  37.681540  1.602643  44.893513  3.205287
35043       3  30.786237    0.0  38.076411  1.602643  45.366584  3.205287
35044       4  30.978940    0.0  38.358359  1.602643  45.737778  3.205287

           d2040    e2040      d2045     e2045      d2050     e2050
35040  52.072699  4.80793  58.910594  6.410574  65.748489  8.013217
35041  54.319475  4.80793  60.982866  6.410574  67.646256  8.013217
35042  52.105486  4.80793  59.317459  6.410574  66.529432  8.013217
35043  52.656758  4.80793  59.946932  6.410574  67.237105  8.013217
35044  53.117196  4.80793  60.496615  6.410574  67.876034  8.013217

# Comparaison des nouveaux scenars

In [18]:
fig = bkp.figure()
palette=bk.palettes.Category10_10
couleurs = iter(palette)
fig.line(x="heures", y="d2025", legend_label = "marion", color= next(couleurs), source=scenars_marion)
for nom,df in scenars.items():
    fig.line(x="heures", y="d2025", legend_label = nom, color= next(couleurs), source=df)
print("année 2025");
bkp.show(fig)

année 2025

In [19]:
fig = bkp.figure()
palette=bk.palettes.Category10_10
couleurs = iter(palette)
fig.line(x="heures", y="d2050", legend_label = "marion", color= next(couleurs), source=scenars_marion)
fig.line(x="heures", y="d2025", legend_label = "marion25", color= next(couleurs), source=scenars_marion)
for nom,df in scenars.items():
    fig.line(x="heures", y="d2050", legend_label = nom, color= next(couleurs), source=df)
print("année 2050");
bkp.show(fig)

année 2050

In [20]:
for nom,df in scenars.items():
    fig = bkp.figure()
    palette=bk.palettes.Category10_10
    couleurs = iter(palette)
    fig.varea_stack(stackers=["d2050","e2050"], x="heures", legend_label = [nom+"d2050",nom+"e2050"], color= [next(couleurs) for col in cols], source=df)
    fig.line(x="heures", y="d2050", legend_label = "marion", color= "grey", source=scenars_marion)
    fig.line(x="heures", y="d2025", legend_label = "marion25", color= "black", source=scenars_marion)
    print("année 2050");
    bkp.show(fig)

année 2050
année 2050
année 2050
année 2050
année 2050

In [21]:
from bokeh.resources import CDN
from bokeh.embed import file_html
p = bkp.figure(title="Periodic Table (omitting LA and AC Series)", 
           tools="hover", toolbar_location=None)
palette=bk.palettes.Category10_10
couleurs = iter(palette)
p.varea_stack(stackers=["d2050","e2050"], x="heures", legend_label = [nom+"d2050",nom+"e2050"], color= [next(couleurs) for col in cols], source=df)
p.line(x="heures", y="d2050", legend_label = "marion", color= "grey", source=scenars_marion)
p.line(x="heures", y="d2025", legend_label = "marion25", color= "black", source=scenars_marion)

title = "periodic table"
bkp.show(p)

In [22]:
p_html_str = file_html(p, CDN, title)